.part {
  display: flex;
  flex-direction: column;
  /* grid-gap: 20px; */
  /* width: 500px; */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px 8px;
  margin-bottom: 12px;
  h3{
    margin: 0;
  }
  p{
    margin: 0;
    padding: 5px;
    /* width: 80px; */
    /* height: 30px; */
  }
}
.zone1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: 150px;

  /* height: 300px; */

}

.rowItem{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  background-color: #4e4e4e;
  color: #ccc;
  border-radius: 8px;
  width: 100px;
}
.part1 {
  grid-template-columns: repeat(3, 1fr);
}
.part2 {
  /* grid-template-columns: repeat(5, 1fr); */
}