.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.modal {
  width: 750px;
  height: 350px;
  background-color: #b4b4b4;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.modal-content {
  font-family: jura;
  color: #1b64ec;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 25px;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #161616;
  height: 40px;
  border-bottom: 2px solid #979797;
}

.closeBtn {
  padding: 5px;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 900;
  color: #474747;
  cursor: pointer;
}

.modal-body {
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 20px;
}

.cell {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dataset {
  width: 45%;
  font-size: 12px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.modal-body span:first-child {
  color: #313131;
  text-align: center;
}
.modal-body span:last-child {
  font-weight: 900;
  color: red;
  text-align: center;
}
