.period-card {
  background: #b4b4b4;
  color:#313131;
  width: 270px;
  height: 150px;
}

ul{
  font-family: jura;
  font-weight: 600;
  padding: 5px;
  margin: 0;
  li{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
}



.cell {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dataset {
  width: 45%;
  font-size: 12px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.modal-body span:first-child {
  color: #313131;
  text-align: center;
}
.modal-body span:last-child {
  font-weight: 900;
  color: red;
  text-align: center;
}
